@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

body {
  background-image:#ffb3b3;
  background-image: radial-gradient(at 95% 92%, hsla(57, 83%, 91%, 1) 0, transparent 50%),
    radial-gradient(at 98% 2%, hsla(220, 32%, 89%, 1) 0, transparent 50%),
    radial-gradient(at 0% 50%, hsla(25, 85%, 93%, 1) 0, transparent 50%),
    radial-gradient(at 40% 39%, hsla(9, 47%, 81%, 1) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsla(52, 64%, 84%, 1) 0, transparent 50%),
    radial-gradient(at 77% 66%, hsla(272, 83%, 91%, 1) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(15, 52%, 92%, 1) 0, transparent 50%);
  animation: bg 20s cubic-bezier(0.77, 0, 0.175, 1) 20s infinite normal forwards;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Logo Animation */
@-webkit-keyframes color-rotate {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes color-rotate {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.logo:hover {
  -webkit-animation: color-rotate 1s;
  animation: color-rotate 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.title {
  font-family: "Josefin Sans";
  width: 100%;
  height: 50vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonts {
  font-size: clamp(3.75rem, 12vw, 12rem);
  will-change: auto;
  display: block;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("https://products.ls.graphics/mesh-gradients/images/14.-Prim_1.jpg");
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: bg 8s cubic-bezier(0.77, 0, 0.175, 1) 2s infinite;
}

@keyframes bg {
  0% {
    background-position: 5% 5%;
  }

  25% {
    background-position: 5% 95%;
    background-size: 250%;
  }

  50% {
    background-position: 95% 95%;
    background-size: 150%;
  }

  75% {
    background-position: 5% 95%;
  }

  100% {
    background-position: 5% 5%;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;