@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

.title {
    font-family: "Josefin Sans";
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fonts {
    font-size: clamp(3.75rem, 12vw, 12rem);
    will-change: auto;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("https://products.ls.graphics/mesh-gradients/images/14.-Prim_1.jpg");
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: bg 8s cubic-bezier(0.77, 0, 0.175, 1) 2s infinite;
}

@keyframes bg {
    0% {
        background-position: 5% 5%;
    }

    25% {
        background-position: 5% 95%;
        background-size: 250%;
    }

    50% {
        background-position: 95% 95%;
        background-size: 150%;
    }

    75% {
        background-position: 5% 95%;
    }

    100% {
        background-position: 5% 5%;
    }
}