#name path:nth-child(1) {
    stroke-dasharray: 512;
    stroke-dashoffset: 512;
}

#name path:nth-child(2) {
    stroke-dasharray: 515;
    stroke-dashoffset: 515;
}

#name path:nth-child(3) {
    stroke-dasharray: 515;
    stroke-dashoffset: 515;
}

#name path:nth-child(4) {
    stroke-dasharray: 422;
    stroke-dashoffset: 422;
}

#name path:nth-child(5) {
    stroke-dasharray: 422;
    stroke-dashoffset: 422;
}

#name path:nth-child(6) {
    stroke-dasharray: 493;
    stroke-dashoffset: 493;
}

#name path:nth-child(7) {
    stroke-dasharray: 506;
    stroke-dashoffset: 506;
}

#name path:nth-child(8) {
    stroke-dasharray: 334;
    stroke-dashoffset: 334;
}

#name path:nth-child(9) {
    stroke-dasharray: 506;
    stroke-dashoffset: 506;
}

#name path:nth-child(10) {
    stroke-dasharray: 422;
    stroke-dashoffset: 422;
}